[submodule "cpp-samples"]
	path = cpp-samples
	url = ../cpp-samples
[submodule "py-samples"]
	path = py-samples
	url = ../py-samples
[submodule "rs-samples"]
	path = rs-samples
	url = ../rs-samples
[submodule "ts-samples"]
	path = ts-samples
	url = ../ts-samples
[submodule "hs-samples"]
	path = hs-samples
	url = ../hs-samples
[submodule "js-samples"]
	path = js-samples
	url = ../js-samples
[submodule "el-samples"]
	path = el-samples
	url = ../el-samples
[submodule "cl-samples"]
	path = cl-samples
	url = ../cl-samples
[submodule "scm-samples"]
	path = scm-samples
	url = ../scm-samples
[submodule "clj-samples"]
	path = clj-samples
	url = ../clj-samples
[submodule "elm-samples"]
	path = elm-samples
	url = ../elm-samples
