[submodule "cpp-samples"]
	path = cpp-samples
	url = ../cpp-samples
[submodule "py-samples"]
	path = py-samples
	url = ../py-samples
[submodule "rs-samples"]
	path = rs-samples
	url = ../rs-samples
[submodule "ts-samples"]
	path = ts-samples
	url = ../ts-samples
[submodule "hs-samples"]
	path = hs-samples
	url = ../hs-samples
[submodule "js-samples"]
	path = js-samples
	url = ../js-samples
[submodule "el-samples"]
	path = el-samples
	url = ../el-samples
[submodule "cl-samples"]
	path = cl-samples
	url = ../cl-samples
[submodule "clj-samples"]
	path = clj-samples
	url = ../clj-samples
[submodule "elm-samples"]
	path = elm-samples
	url = ../elm-samples
[submodule "c-samples"]
	path = c-samples
	url = ../c-samples
[submodule "xtend-samples"]
	path = xtend-samples
	url = ../xtend-samples
[submodule "kt-samples"]
	path = kt-samples
	url = ../kt-samples
[submodule "java-samples"]
	path = java-samples
	url = ../java-samples
[submodule "lua-samples"]
	path = lua-samples
	url = ../lua-samples
[submodule "purs-samples"]
	path = purs-samples
	url = ../purs-samples
[submodule "go-samples"]
	path = go-samples
	url = ../go-samples
[submodule "rb-samples"]
	path = rb-samples
	url = ../rb-samples
[submodule "rkt-samples"]
	path = rkt-samples
	url = ../rkt-samples
[submodule "prolog-samples"]
	path = prolog-samples
	url = ../prolog-samples
[submodule "oz-samples"]
	path = oz-samples
	url = ../oz-samples
[submodule "ml-samples"]
	path = ml-samples
	url = ../ml-samples
[submodule "cs-samples"]
	path = cs-samples
	url = ../cs-samples
